@{
    ViewData["Title"] = "ViewByCategory";
}

<h1 class="text-center">@ViewBag.category</h1>

<div class="products-wrapper">
    <div class="product-grid">
        <div class="item-grid row justify-content-between">
            @foreach (var item in ViewBag.products)
            {
                <a class="text-decoration-none col-md-3 text-center card" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-fluid" src="../Contents/14p.jpg" alt="iPhone 14 Pro" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Price</p>
                        </div>
                </a>
            }
        </div>
    </div>
</div>