<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B2CWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/B2CWebApp.styles.css" asp-append-version="true" />
    <style>
        .category:hover {
            font-weight: 500;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style=" padding: 0 450px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">B2CWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form action="/Product/Search" class="row">
                    <div class="col-md-8 col-lg-7 p-0">
                        <div class="input-group">
                            <input type="search" id="product" class="form-control" name="search" placeholder="Search"/>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-5 px-1">
                        <button type="submit" class="btn btn-primary w-100">Search</button>
                    </div>
                </form>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark">0849.070.802</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link text-dark">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ViewCart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ViewOrders">Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style=" padding: 0 500px">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center justify-content-around">
                        <li class="category nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="1">iPhone</a>
                        </li>
                        <li class="category nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="2">iPad</a>
                        </li>
                        <li class="category nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="3">Macbook</a>
                        </li>
                        <li class="category nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="4">Watch</a>
                        </li>
                        <li class="category nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewByCategory" asp-route-cate="5">Accessories</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - B2CWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
